include ../common-mixins
include ../c/mixins

+main-section
  +content-wrapper
    .grid.grid-cols-1.sm.lg.gap-6
      TeamMemberCard(
        name="Vadim Zolotokrylin"
        role="CEO & Co-founder"
        description="Curious technologist and crypto enthusiast. Accelerates new"
        additionalDescription="and existing companies and specializes in team/culture building and ruthless lorem."
        avatar="/team/vadim.example.png"
        link="/"
      )