include ../common-mixins
include ../c/mixins
//pr init
+if('storeData')
  +main-section
    +header-wrapper.flex-col.gap-8(class="xs:gap-4")
      +nav-crumbs
        +crumbItemLink("/", "Home")
        +crumbDelimiter
        +crumbItemText("Portfolio")
      +messageHeader("Portfolio", "Meet the companies that are driving the innovation and adoption of disruptive technologies.")()
      +companyLogoStrip([ { lightPath: '/portfolioLogo/light/clearpool.png', darkPath: '/portfolioLogo/dark/clearpool.png', name: 'Clearpool' }, { lightPath: '/portfolioLogo/light/truflation.png', darkPath: '/portfolioLogo/dark/truflation.png', name: 'Truflation' }, { lightPath: '/portfolioLogo/light/zebec.png', darkPath: '/portfolioLogo/dark/zebec.png', name: 'Zebec Protocol' }, { lightPath: '/portfolioLogo/light/synnax.png', darkPath: '/portfolioLogo/dark/synnax.png', name: 'Synnax' }, { lightPath: '/portfolioLogo/light/ozean.png', darkPath: '/portfolioLogo/dark/ozean.png', name: 'Ozean' }, { lightPath: '/portfolioLogo/light/usdx.png', darkPath: '/portfolioLogo/dark/usdx.png', name: 'USDX' }, { lightPath: '/portfolioLogo/light/nuon.png', darkPath: '/portfolioLogo/dark/nuon.png', name: 'Nuon' }, { lightPath: '/portfolioLogo/light/indexfun.png', darkPath: '/portfolioLogo/dark/indexfun.png', name: 'Index.fun' }, { lightPath: '/portfolioLogo/light/hextrust.png', darkPath: '/portfolioLogo/dark/hextrust.png', name: 'HexTrust' }, { lightPath: '/portfolioLogo/light/ithaca.png', darkPath: '/portfolioLogo/dark/ithaca.png', name: 'Ithaca' }, { lightPath: '/portfolioLogo/light/cicero.png', darkPath: '/portfolioLogo/dark/cicero.png', name: 'Cicero' }, { lightPath: '/portfolioLogo/light/finoverse.png', darkPath: '/portfolioLogo/dark/finoverse.png', name: 'Finoverse' }, { lightPath: '/portfolioLogo/light/web3headhunting.png', darkPath: '/portfolioLogo/dark/web3headhunting.png', name: 'Web3 Headhunting' }, { lightPath: '/portfolioLogo/light/nostrocket.png', darkPath: '/portfolioLogo/dark/nostrocket.png', name: 'Nostrocket' }, { lightPath: '/portfolioLogo/light/wakame.png', darkPath: '/portfolioLogo/dark/wakame.png', name: 'Wakame' }, { lightPath: '/portfolioLogo/light/pickle.png', darkPath: '/portfolioLogo/dark/pickle.png', name: 'Pickle Finance' }, { lightPath: '/portfolioLogo/light/lumiere.png', darkPath: '/portfolioLogo/dark/lumiere.png', name: 'Lumiere' }, { lightPath: '/portfolioLogo/light/amplify.png', darkPath: '/portfolioLogo/dark/amplify.png', name: 'Amplify' }, { lightPath: '/portfolioLogo/light/coins-and-skins.png', darkPath: '/portfolioLogo/dark/coins-and-skins.png', name: 'Coins and Skins' } ])
    +content-wrapper-portfolio
      +feedRenderer
      +subheadingText("Featured Projects")
      +portfolio-product-wrapper
        PortfolioItem(
          isFeatured
          slug="c/companies/clearpool-finance"
          title="Clearpool Finance"
          subtitle="Lend stablecoins to leading institutions & earn attractive risk-adjusted yields."
          description="As core members and stakeholders, we are Clearpool’s product department from day 1. We continue to design, develop, and launch lending products together with business stakeholders."
          hashtags=["defi", "dapp", "ethereum", "optimism", "polygon"]
          borrowers=["fasanara", "bastion", "portofino", "wincent", "amber", "auros", "folkvang", "wintermute", "fbg-capital", "alphanonce", "gravity-team", "ledgerprime", "parallel", "nibbio", "manifold", "adaptive-frontier", "arbelos", "hyperithm", "banxa"]
          investors=["sequoia", "arrington", "sino", "hashkey", "wintermute"]
          totalLoansOriginated=626408796.38
        )
        PortfolioItem(
          isFeatured
          slug="c/companies/truflation"
          title="Truflation"
          subtitle="Independent, economic & financial on-chain data in real-time."
          description="We joined Truflation movement as the core contributors and stakeholders. Our immediate task is to design architecture, build, and launch an unstoppable decentralized network of financial data streams."
          hashtags=["defi", "oracle", "multi-chain", "architecture", "python"]
          marketCapitalization=526121202
          investors=["coinbase", "chainlink", "c2ventures", "balaji", "g2venture"]
        )
        PortfolioItem(
          isFeatured
          slug="c/companies/zebec-protocol"
          title="Zebec Protocol"
          subtitle="Multi-chain streaming and web3 banking services for institutional and retail consumers."
          description="Being aligned on the same mission to grow the adoption of decentralized financial services, Holdex provided Zebec access to a pool of investors to help secure their first investment round."
          hashtags=["defi", "streaming", "banking", "multi-chain"]
          investors=["gemini", "coinbase", "circle", "500", "shima-capital", "okx-ventures"]
          marketCapitalization=1116886489
        )
        PortfolioItem(
          isFeatured
          slug="c/companies/synnax"
          title="Synnax"
          subtitle="AI-powered credit intelligence."
          description="Synnax takes credit intelligence one step further and integrates AI to curate, analyze and, predict market data for decentralized loans. Holdex is assigned to lead product development and engineering team management at Synnax."
          hashtags=["defi", "credit-rating", "ai", "zk"]
          founders="Robert Alcorn, Dario Capodici, Alessio Quaglini"
          investors=["tonventures", "kenetic", "wintermute", "edessa", "nolimitholdings", "bitscale", "ryzelabs", "mhventures", "hextrust", "moonvault", "gamefi", "typhon", "ausvic", "drops", "everstake"]
        )
        PortfolioItem(
          isFeatured
          slug="https://ozean.finance/"
          isExternal
          title="Ozean"
          subtitle="The Blockchain for RWA yield."
          description="Ozean is a permissionless Ethereum Layer 2 with an optional compliance layer. It fosters interoperability and provides essential infrastructure for institutional financial markets."
          hashtags=["defi", "rwa", "dapp", "optimism"]
          investors=["hashkey", "sequoia", "wintermute", "arrington", "sino"]
        )
        PortfolioItem(
          isFeatured
          slug="https://www.htdigitalassets.com/"
          isExternal
          title="USDX"
          subtitle="1:1 fully backed and licensed USD stablecoin with 24/7 availability."
          reservesInUsd=23193005.47
          description="A stablecoin created to bridge RWA and DeFi, USDX is backed by cash and cash equivalents under a fully licensed digital asset custodian."
          hashtags=["defi", "stablecoin", "multi-chain"]
        )
        PortfolioItem(
          isFeatured
          slug="https://nuon.fi/"
          isExternal
          title="Nuon"
          subtitle="Inflation-adjusted flatcoin pegged to US dollar."
          description="Protect your wealth from inflation with Nuon flatcoin. Nuon uses real-world asset prices and the US inflation rate to rebase and ensure your holdings are not losing value with time. Price stability is guaranteed by the yield generated from holding the token."
          hashtags=["defi", "flatcoin", "inflation"]
        )
        PortfolioItem(
          isFeatured
          slug="https://index.fun/"
          isExternal
          title="Index.fun"
          subtitle="Create, bet, and trade on real-world indexes on-chain."
          description="Index.fun allows anyone to combine real-world data to deploy custom tradable baskets in just 30 seconds. Compare performances with popular Stock ETFs and create a new index that beats them."
          hashtags=["index", "trading", "betting", "etf"]
        )
        PortfolioItem(
          isFeatured
          slug="https://hextrust.com/"
          isExternal
          title="HexTrust"
          subtitle="Digital asset custodian for ecosystems."
          description="Hex Trust is a fully-licensed digital asset custodian that provides solutions for protocols, foundations, financial institutions, and the Web3 ecosystem."
          hashtags=["defi", "asset-custody"]
        )
        PortfolioItem(
          isFeatured
          slug="https://www.ithacaprotocol.io/"
          isExternal
          title="Ithaca Protocol"
          subtitle="A non-custodial, composable option protocol."
          description="Ithaca consistently ranks in the top 3 of DefiLlama options volume. Through its auction-based matching engine, users can instantly deploy options, structured products, and lending markets, while building custom risk strategies with automated market making."
          hashtags=["defi", "options-trading"]
        )
      +subheadingText("More Projects")
      +portfolio-product-wrapper
        PortfolioItem(
          isFeatured=false
          slug="https://cicero.network/"
          isExternal
          title="Cicero"
          subtitle="Permissionless lending with institutional borrowers."
          description="Cicero is a permissionless lending protocol that allows institutional borrowers to access credit from a global pool of lenders."
          hashtags=["defi", "lending", "dapp"]
        )
        PortfolioItem(
          isFeatured=false
          slug="https://thirdweb-svelte.vercel.app/"
          isExternal
          title="Thirdweb Svelte"
          subtitle="Open-source Svelte SDK for thirdweb, developed by Holdex. It includes out-of-the-box UI components and API integration."
          hashtags=["wallet", "open-source", "typescript"]
        )
        PortfolioItem(
          isFeatured=false
          slug="c/companies/finoverse"
          title="Finoverse"
          subtitle="A global network of FinTech and Web3 professionals and investors."
          hashtags=["streaming", "voip", "design", "react", "go"]
        )
        PortfolioItem(
          isFeatured=false
          slug="c/companies/hh-whitepaper"
          title="Web3 Headhunting"
          subtitle="Hire vetted web3 talent across the globe and streamline payroll."
          hashtags=["hr", "remote", "team-management"]
        )
        PortfolioItem(
          isFeatured=false
          slug="https://github.com/nostrocket"
          isExternal
          title="Nostrocket"
          subtitle="Separation of Business and State."
          hashtags=["social-dapp", "nostr"]
        )
        PortfolioItem(
          isFeatured=false
          slug="c/companies/wakame"
          title="Wakame"
          subtitle="Proof of Attendance Protocol for secure events access."
          hashtags=["poap", "nft", "design", "svelte", "ios", "android"]
        )
        PortfolioItem(
          isFeatured=false
          slug="c/companies/pickle-finance"
          title="Pickle Finance"
          subtitle="Automated compounding yields from multiple DeFi protocols."
          hashtags=["defi", "yield-farming", "design", "nodejs"]
        )
        PortfolioItem(
          isFeatured=false
          slug="c/companies/lumiere"
          title="Lumiere"
          subtitle="Unique film & fashion collectibles powered by NFTs."
          hashtags=["defi", "nft", "decentraland", "design", "svelte"]
        )
        PortfolioItem(
          isFeatured=false
          slug="c/companies/amplify"
          title="Amplify"
          subtitle="Invoice financing and real-world collateralized loans."
          hashtags=["defi", "factoring", "collateralized", "credit", "design", "react"]
        )
        PortfolioItem(
          isFeatured=false
          slug="c/companies/pass-club"
          title="Pass Club"
          subtitle="Permissionless decentralized identity platform."
          hashtags=["defi", "did", "kyc", "identity", "design", "react"]
        )
        PortfolioItem(
          isFeatured=false
          slug="c/companies/coins-and-skins"
          title="Coins and Skins"
          subtitle="Superexchange for gaming digital assets powered by blockchain."
          hashtags=["gaming", "defi", "exchange"]
        )
