include ../../common-mixins
include ../../c/mixins

mixin guideCard(href, title, subtitle, cardNumber)
  a.card(
    class="group w-full h-full rounded-xl flex flex-col transition-colors border border-l4 p-8 smDown:px-4 smDown:py-6 gap-4 bg-l1 hover:bg-l2 " + "bg-card-" + cardNumber + "-light dark:bg-card-" + cardNumber + "-dark bg-center bg-cover"
    href=href
  )
    h2(
      class="relative text-h2-l xs:text-h2-s font-satoshi inline-block text-t1 group-hover:text-accent1-default"
    ) #{title}
    TextParagraph(class="group-hover:text-accent1-default" textColor="text-t2") #{subtitle}

+if('storeData')
  +main-section
    +header-wrapper(class="flex-col gap-8 xs:gap-4")
      +nav-crumbs
        +crumbItemLink("/", "Home")
        +crumbDelimiter
        +crumbItemLink("/c", "Studio")
        +crumbDelimiter
        +crumbItemText("Guides")
      +messageHeader("Guides", "Product and business crypto guides for someone who truly understands the power of blockchain.")()
      .card-wrapper(class="w-full grid grid-cols-2 smDown:grid-cols-1 gap-8 smDown:gap-4 auto-rows-max mb-8 smDown:mb-4")
        +guideCard("your-href-link", "Your Title", "Your subtitle text goes here.", "1")
        +guideCard("your-href-link", "Your Title", "Your subtitle text goes here.", "2")
        +guideCard("your-href-link", "Your Title", "Your subtitle text goes here.", "3")
        +guideCard("your-href-link", "Your Title", "Your subtitle text goes here.", "4")

    +content-wrapper
      +feedRenderer
        Feed(
          feedType="resource"
          edges="{edges}"
          totalCount="{totalCount}"
          isRefetching="{isRefetching}"
          pageInfo="{pageInfo}"
          loadMore="{loadMore}"
        )
