mixin metricContainer(className='')
  .metric(class=`font-satoshi flex flex-col gap-3.625 ${className}`)
    block

mixin metricTitle(title)
  p.metric-title(class="text-footnote text-t3")= title

mixin metricValue(value)
  h4.metric-value(class="text-t1")= value

mixin metricValueLogos(duration)
  .logo-wrapper(
    class="w-full overflow-hidden flex flex-nowrap gap-6 [mask-image:_linear-gradient(to_right,transparent_0,_black_40px,_black_calc(100%-40px),transparent_100%)]"
  )
    .logo-strip(
      style=`animation-duration: ${duration}s;`
      class="flex gap-6 min-w-max justify-around align-middle group-hover:animate-infinite-scroll smDown:animate-infinite-scroll"
    )
      block
    .logo-strip(
      style=`animation-duration: ${duration}s;`
      class="flex gap-6 min-w-max justify-around align-middle group-hover:animate-infinite-scroll smDown:animate-infinite-scroll"
    )
      block

mixin logoImg(value)
  img(
    class="logo-img h-7.25 mobile:h-6 filter invert dark:invert-0"
    src="/portfolioLogo/investor/" + value + ".svg"
    alt=value
  )

mixin metric(type, value=null, borrowersAnimationDuration=null, investorsAnimationDuration=null, ecosystemPartnersAnimationDuration=null)
  case type
    when 'totalLoansOriginated'
      +metricContainer("smDown:gap-2 min-w-[180px]")
        +metricTitle("Total Loans Originated")
        +metricValue(value)
    when 'totalValueLocked'
      +metricContainer("smDown:gap-2 min-w-[180px]")
        +metricTitle("Total Value Locked")
        +metricValue(value)
    when 'totalFunding'
      +metricContainer("smDown:gap-2 min-w-[180px]")
        +metricTitle("Total Funding")
        +metricValue(value)
    when 'marketCapitalization'
      +metricContainer("smDown:gap-2 min-w-[180px]")
        +metricTitle("Market Capitalization")
        +metricValue(value)
    when 'reservesInUsd'
      +metricContainer("smDown:gap-2 min-w-[180px]")
        +metricTitle("Reserves in USD")
        +metricValue(value)
    when 'founders'
      +metricContainer("smDown:gap-2 w-full")
        +metricTitle("Founders")
        +metricValue(value)
    when 'borrowers'
      +metricContainer("w-full")
        +metricTitle("Borrowers")
        +metricValueLogos(borrowersAnimationDuration)
          block
    when 'investors'
      +metricContainer("w-full")
        +metricTitle("Investors")
        +metricValueLogos(investorsAnimationDuration)
          block
    when 'ecosystemPartners'
      +metricContainer("w-full")
        +metricTitle("Ecosystem Partners")
        +metricValueLogos(ecosystemPartnersAnimationDuration)
          block

article.portfolio-product-card(
  class="group w-full h-full rounded-xl flex flex-col bg-l1 border border-l4 px-8 py-7.25 smDown:px-4 smDown:py-6 justify-between {isFeatured ? 'gap-16 smDown:gap-12' : 'gap-6'}"
)
  .portfolio-product-body(class="flex flex-col w-full gap-7.25 smDown:gap-4")
    h3(class="relative flex flex-col w-full gap-3.625 smDown:gap-3.25 leading-[29px] text-underline-offset-1")
      Link(item="{{href: slug, text: title, title: title}}")= `{title}`
      TextParagraph {subtitle}

    +if('isFeatured == true')
      TextParagraph {description}
      .portfolio-metrics(class="w-full flex flex-wrap gap-7.25 smDown:flex-col smDown:gap-6")
        +if('totalLoansOriginated')
          +metric('totalLoansOriginated', '{formattedTotalLoansOriginated}')
        +if('totalValueLocked')
          +metric('totalValueLocked', '{formattedTotalValueLocked}')
        +if('reservesInUsd')
          +metric('reservesInUsd', '{formattedReservesInUsd}')
        +if('totalFunding')
          +metric('totalFunding', '{formattedTotalFunding}')
        +if('marketCapitalization')
          +metric('marketCapitalization', '{formattedmarketCapitalization}')
        +if('founders')
          +metric('founders', '{founders}')
        +if('borrowers')
          +metric('borrowers', null, '{borrowersAnimationDuration}')
            +each('JSON.parse(borrowers).concat(JSON.parse(borrowers)) as borrower')
              +logoImg('{borrower}')
        +if('investors')
          +metric('investors', null, null, '{investorsAnimationDuration}')
            +each('JSON.parse(investors).concat(JSON.parse(investors)) as investor')
              +logoImg('{investor}')
        +if('ecosystemPartners')
          +metric('ecosystemPartners', null, null, null,'{ecosystemPartnersAnimationDuration}')
            +each('JSON.parse(ecosystemPartners).concat(JSON.parse(ecosystemPartners)) as ecosystemPartner')
              +logoImg('{ecosystemPartner}') 

  +if('JSON.parse(hashtags) && JSON.parse(hashtags).length > 0')
    ul.relative.flex.items-start.gap-2.flex-wrap.w-full.list-none
      +each('JSON.parse(hashtags) as tag, index')
        li(class="text-inter h-7.25 text-paragraph-l smDown:text-paragraph-s")
          Hashtag(
            item="{tag}"
            link="{emptyTags.indexOf(tag) !== -1 ? undefined : `/c?filter=${tag}`}"
          )
            | {'#'}{tag}
