mixin companyLogoStripIndex(logos)
  if logos !== undefined
    .company-logo-wrapper(
      class="my-7.25 xs:my-4 w-full flex flex-wrap justify-around align-middle grayscale"
    )
      .company-logo-strip(class="flex flex-wrap gap-x-8 gap-y-7.25 justify-center align-middle")
        each logo in logos
          img(class="company-logo dark:hidden h-6 mobile:h-5" src=logo.lightPath alt=logo.name)
          img(class="company-logo hidden dark:block h-6 mobile:h-5" src=logo.darkPath alt=logo.name)

mixin companyLogoStrip(logos)
  if logos !== undefined
    Marquee(
      pauseOnHover
      direction="left"
      speed=150
      class="my-3.625 xs:my-3.25 w-full grayscale"
      gap="24px"
    )
      each logo in logos
        img(class="company-logo dark:hidden h-6 mobile:h-5" src=logo.lightPath alt=logo.name)
        img(class="company-logo hidden dark:block h-6 mobile:h-5" src=logo.darkPath alt=logo.name)

mixin portfolioLogos
  -
    const logos = [
      { lightPath: '/portfolioLogo/light/clearpool.png', darkPath: '/portfolioLogo/dark/clearpool.png', name: 'Clearpool' },
      { lightPath: '/portfolioLogo/light/ozean.png', darkPath: '/portfolioLogo/dark/ozean.png', name: 'Ozean' },
      { lightPath: '/portfolioLogo/light/truflation.png', darkPath: '/portfolioLogo/dark/truflation.png', name: 'Truflation' },
      { lightPath: '/portfolioLogo/light/truf-network.png', darkPath: '/portfolioLogo/dark/truf-network.png', name: 'TRUF.network' },
      { lightPath: '/portfolioLogo/light/trufscan.png', darkPath: '/portfolioLogo/dark/trufscan.png', name: 'Trufscan' },
      { lightPath: '/portfolioLogo/light/zebec.png', darkPath: '/portfolioLogo/dark/zebec.png', name: 'Zebec Protocol' },
      { lightPath: '/portfolioLogo/light/synnax.png', darkPath: '/portfolioLogo/dark/synnax.png', name: 'Synnax' },
      { lightPath: '/portfolioLogo/light/usdx.png', darkPath: '/portfolioLogo/dark/usdx.png', name: 'USDX' },
      { lightPath: '/portfolioLogo/light/nuon.png', darkPath: '/portfolioLogo/dark/nuon.png', name: 'Nuon' },
      { lightPath: '/portfolioLogo/light/indexfun.png', darkPath: '/portfolioLogo/dark/indexfun.png', name: 'Index.fun' },
      { lightPath: '/portfolioLogo/light/hextrust.png', darkPath: '/portfolioLogo/dark/hextrust.png', name: 'Hex Trust' },
      { lightPath: '/portfolioLogo/light/ithaca.png', darkPath: '/portfolioLogo/dark/ithaca.png', name: 'Ithaca' },
      { lightPath: '/portfolioLogo/light/cicero.png', darkPath: '/portfolioLogo/dark/cicero.png', name: 'Cicero' },
      { lightPath: '/portfolioLogo/light/finoverse.png', darkPath: '/portfolioLogo/dark/finoverse.png', name: 'Finoverse' },
      { lightPath: '/portfolioLogo/light/web3headhunting.png', darkPath: '/portfolioLogo/dark/web3headhunting.png', name: 'Web3 Headhunting' },
      { lightPath: '/portfolioLogo/light/odyssey-of-fate.png', darkPath: '/portfolioLogo/dark/odyssey-of-fate.png', name: 'Odyssey of Fate' },
      { lightPath: '/portfolioLogo/light/nostrocket.png', darkPath: '/portfolioLogo/dark/nostrocket.png', name: 'Nostrocket' },
      { lightPath: '/portfolioLogo/light/github-wizard.png', darkPath: '/portfolioLogo/dark/github-wizard.png', name: 'GitHub Wizard' },
      { lightPath: '/portfolioLogo/light/ready-influencer.png', darkPath: '/portfolioLogo/dark/ready-influencer.png', name: 'Ready Influencer' },
      { lightPath: '/portfolioLogo/light/wakame.png', darkPath: '/portfolioLogo/dark/wakame.png', name: 'Wakame' },
      { lightPath: '/portfolioLogo/light/pickle.png', darkPath: '/portfolioLogo/dark/pickle.png', name: 'Pickle Finance' },
      { lightPath: '/portfolioLogo/light/lumiere.png', darkPath: '/portfolioLogo/dark/lumiere.png', name: 'Lumiere' },
      { lightPath: '/portfolioLogo/light/amplify.png', darkPath: '/portfolioLogo/dark/amplify.png', name: 'Amplify' },
      { lightPath: '/portfolioLogo/light/coins-and-skins.png', darkPath: '/portfolioLogo/dark/coins-and-skins.png', name: 'Coins and Skins' }
    ]
  +if("isIndex")
    companiesStrip(
      class="flex items-center justify-center smDown:justify-start smDown:items-start max-w-[1028px] xs:gap-4 tb:max-w-[794px] smDown:max-w-[604px] w-full"
    )
      +companyLogoStripIndex(logos)
    +else
      +companyLogoStrip(logos)

+portfolioLogos
