article.flex.p-4.flex-col.w-full(class="smDown:flex-col smDown:items-start")
  div
    img.w-16.h-16.rounded-xl.object-cover(
      class="float-left mr-4 border border-l6"
      src="{image}"
      alt="{name}"
    )
    div
      span(class="text-h4-s xs:text-h5-s")
        a(
          href="{link}"
          class="relative inline-block underline underline-offset-4 bg-accent1-default/15 text-accent1-default transition-colors hover:bg-accent1-default/25 focus:bg-accent1-default/25"
          target="_blank"
          rel="noopener noreferrer"
        )
          | {name}
        | &#160;—&#160;
        span(class="text-h4-s xs:text-h5-s")
          | {role}
      p(class="text-paragraph-l mt-2 xs:mt-0 text-t2 xs:text-paragraph-s")
        | {description}
