mixin content-wrapper-portfolio
  .content-wrapper(
    class="flex flex-col gap-7.25 xs:gap-4 items-center justify-center mb-8 smDown:justify-start smDown:items-start max-w-[1028px] tb:max-w-[794px] smDown:max-w-[604px] xs:px-4 w-full"
  )&attributes(attributes)
    block

mixin crumbItemLink(href, name)
  li: a(
    class="text-paragraph-l xs:text-paragraph-s text-t3 transition-colors hover:text-accent1-default plain-link"
    href=href
    title=name
  ): span= name

mixin crumbDelimiter
  li(class="crumb-delimiter text-paragraph-l xs:text-paragraph-s text-t3/50") /

mixin crumbItemText(name)
  li: span(class="text-paragraph-l xs:text-paragraph-s text-t3")= name

//- Filter options
mixin filter-options
  ul.filter-options(
    class="relative flex items-start my-3.625 smDown:my-3.25 border border-solid border-l4 rounded-xl"
  )
    +filter-option-item("{() => handleSort($page.url, 'CREATED_AT')}", "By Time")(
      class!="border-r border-solid border-l4 rounded-l-underbase {pageFilter !== 'NET_UP_VOTES' ? '!bg-l3 !text-accent1-default' : ''}"
    )
    +filter-option-item("{() => handleSort($page.url, 'NET_UP_VOTES')}", "By Rating")(
      class!="rounded-r-underbase {pageFilter === 'NET_UP_VOTES' ? '!bg-l3 !text-accent1-default' : ''}"
    )

mixin filter-option-item(onClick, title)
  li.option-item(
    on:click!=onClick
    class!="flex items-center justify-center cursor-pointer bg-l2 transition-colors text-cta text-t3 hover:text-t1 py-0.75 px-2.75"
  )&attributes(attributes)= title

//- Short links
mixin short-links
  ul.short-links(
    class="flex items-center justify-center gap-x-5 w-full max-w-[604px] smDown:justify-start smDown:flex-wrap"
  )
    block

mixin short-link(href, icon, title)
  a.short-link(
    class="flex items-center gap-2 text-cta text-t1 transition-colors hover:text-accent1-default plain-link"
    href=href
  )
    Icon(icon=icon width="{20}" height="{20}" colorInherit)
    span= title

mixin inline-link(href, title)
  a.short-link.text-paragraph-l(href=href)&attributes(attributes)
    span= title

mixin button-secondary-small(label)
  button(
    type="button"
    class="relative inline-flex z-1 bg-l3 text-t1 text-cta border border-solid border-l3 shadow-secondary-button items-center justify-center p-1.75 px-3.75 rounded-xl transition-all focus:border-accent1-default hover:border-accent1-active hover:shadow-secondary-button-hover"
  )&attributes(attributes)
    span= label

//- Button Icon components
mixin button-icon-small(icon)
  button(
    type="button"
    class="relative inline-flex z-1 bg-l3 text-t1 border border-solid border-l3 shadow-secondary-button items-center justify-center p-1.25 rounded-2lg transition-all focus:border-accent1-default hover:text-t1 hover:border-accent1-active hover:shadow-secondary-button-hover"
  )&attributes(attributes)
    if block
      block
    else
      Icon(icon=icon width="{17}" height="{17}" colorInherit)

mixin messageHeader(title, subtitle, cover = null)
  PageTitle&attributes(attributes)= title
  if cover && cover !== ""
    img(
      src=cover
      alt=title
      class="w-full h-auto object-contain box-border border border-solid border-l4 rounded-xl"
    )
  if subtitle
    p(class="text-subtitle-l text-t2 text-center smDown:text-left xs:text-subtitle-s w-full")= subtitle

mixin messageHeaderEffect(title, subtitle, cover = null)
  PageTitle&attributes(attributes)= title
  if cover && cover !== ""
    div(class="relative")
    div(class="relative") 
      div(class="absolute top-0 left-0 w-full h-full") 
        img(src="/headerPages/effect.png" alt="effect" class="rounded-2xl w-full max-h-[544px] h-full")
      img(src=cover alt=title class="rounded-2xl w-full max-h-[544px]")
  if subtitle
    p(class="text-subtitle-l text-t2 text-center smDown:text-left xs:text-subtitle-s w-full")= subtitle

mixin feedRenderer
  +if("isSearchMode")
    +if("totalCount > 0")
      .result-label-wrapper(class="flex items-center flex-wrap gap-3")
        p(class="font-bold") #[span(class="text-t3 font-medium") Showing results for] {pageQ || '#' + pageFilter}
        +button-icon-small("{XMark}")(
          on:click!="{() => handleSort($page.url, 'CREATED_AT')}"
        )
      block
      +else
        p(class="text-t1 w-full text-center font-bold") #[span(class="text-t3 font-medium") No articles found for] {pageQ || '#' + pageFilter}.
    +else
      block

mixin subheadingText(text)
  .subheadingWrapper(class="py-3.625 smDown:py-3.25")
    h2(class="w-full text-center smDown:text-left")= text

mixin portfolio-product-wrapper
  .portfolio-product-wrapper(
    class="w-full grid grid-cols-2 smDown:grid-cols-1 2xl-up:gap-x-8 2xl-up:gap-y-7.25 xl-up:gap-x-4 xl-up:gap-y-4 gap-x-8 gap-y-7.25 smDown:gap-4"
  )&attributes(attributes)
    block

mixin section-hero-pages(imageUrl, effectUrl)
  div(class="relative")
    div(class="relative") 
      div(class="absolute top-0 left-0 w-full h-full") 
        img(src=effectUrl alt="effect" class="rounded-2xl w-full max-h-[544px] h-full")
      img(src=imageUrl alt="image" class="rounded-2xl w-full max-h-[544px]")
    block
