include ./common-mixins

mixin link(href, title)
  li(
    class="flex relative items-center text-cta transition-colors hover:text-accent1-default before:content-['] before:absolute before:left-0 tb-up:before:bottom-[-1rem] before:bottom-[-0.5rem] before:w-full before:bg-transparent before:h-0.5"
  )&attributes(attributes): a(
    class="text-inherit plain-link"
    href=href
    on:click!="{() => toggleBurger(false)}"
  )= title

mixin social-link(href, content)
  a(
    class="flex flex-col items-center justify-center w-8 h-8 p-1 transition-colors hover:text-accent1-default plain-link"
    href=href
    target="_blank"
    rel="noopener noreferrer"
  )&attributes(attributes)= content

mixin main-nav
  nav
    ul(class="flex items-start gap-4 xl-up:gap-8" role="navigation")&attributes(attributes)
      +link("{routes.about}", "About")(
        class!="{isActive(path, routes.about, true) ? 'before:!bg-accent1-default' : ''}"
      )
      +link("{routes.portfolio}", "Portfolio")(
        class!="{isActive(path, routes.portfolio, true) ? 'before:!bg-accent1-default' : ''}"
      )
      +link("{routes.forStartups}", "For Startups")(
        class!="{isActive(path, routes.forStartups, true) ? 'before:!bg-accent1-default' : ''}"
      )
      +link("{routes.research}", "Research")(
        class!="{isActive(path, routes.research, true) ? 'before:!bg-accent1-default' : ''}"
      )
      +link("{routes.jobs}", "Jobs")(
        class!="{isActive(path, routes.jobs) ? 'before:!bg-accent1-default' : ''}"
      )
    //- +link("/c?filter=partners", "Partners")(class!="{isFilterActive($page.url,'/c', 'partners') ? '!text-accent1-default before:!bg-accent1-default' : ''}")

mixin mobile-nav
  //- +main-nav(class="relative flex flex-wrap smDown:gap-4")
  //-+primary-button("Partner With Us")(type="button" on:click!="{() => handleClick(toggleBurger)}")

mixin social
  .social-icons-nav(
    class!="gap-3 md-up:gap-4 flex items-start {themeIconName === 'moon' ? 'text-tw-tweet-color-gray' : 'text-t3'}"
  )&attributes(attributes)
    +social-link("https://www.linkedin.com/company/holdexlimited/", "{@html socialIcons.linkedin}")(
      class="!h-5 !w-5 !p-0 text-i1"
    )
    +social-link("https://discord.gg/sEuyYf5euF", "{@html socialIcons.discord}")(
      class="!h-5 !w-5 !p-0 text-i1"
    )
    +social-link("https://github.com/holdex", "{@html socialIcons.github}")(
      class="!h-5 !w-5 !p-0 text-i1"
    )
    +social-link("https://twitter.com/HoldexIo", "{@html socialIcons.twitter}")(
      class="!h-5 !w-5 !p-0 text-i1"
    )
    +social-link("https://t.me/holdex", "{@html socialIcons.telegram}")(
      class="!h-5 !w-5 !p-0 text-i1"
    )

mixin sidebar-social
  .social-icons-nav(
    class!="sidebar-social w-full gap-8 flex flex-col items-end {themeIconName === 'moon' ? 'text-tw-tweet-color-gray' : 'text-t3'}"
  )
    +social-link("https://www.linkedin.com/company/holdexlimited/", "{@html socialIcons.linkedin}")(
      class="!h-16 !w-16 !p-0 text-i1"
    )
    +social-link("https://discord.gg/sEuyYf5euF", "{@html socialIcons.discord}")(
      class="!h-16 !w-16 !p-0 text-i1"
    )
    +social-link("https://github.com/holdex", "{@html socialIcons.github}")(
      class="!h-16 !w-16 !p-0 text-i1"
    )
    +social-link("https://twitter.com/HoldexIo", "{@html socialIcons.twitter}")(
      class="!h-16 !w-16 !p-0 text-i1"
    )
    +social-link("https://t.me/holdex", "{@html socialIcons.telegram}")(
      class="!h-16 !w-16 !p-0 text-i1"
    )

mixin announcement-post-it(href, date, location, content, target, rel)
  a.absolute.bottom-0.-rotate-6.transform.plain-link(
    href=href
    target=target
    rel=rel
    class="hover:-rotate-[4deg] transition-transform duration-300"
  )
    .w-45.bg-post-it-yellow.pr-3.py-4.pl-4.relative(class="shadow-xl")
      .absolute.w-full.h-9.top-0.left-0(class="bg-black/[0.02]")
      .space-y-1.font-handwriting.text-black
        if date
          p.font-handwriting.text-black.leading-none= date
        if location
          p.font-handwriting.text-black.leading-none= location
        if content
          p.font-handwriting.text-black.text-h2-l.leading-none.font-normal.pt-2(class="!text-[29.5px]")= content

mixin announcement-banner(href, text, target, rel)
  if text && href
    .announcement-banner(
      class="w-full border-b border-solid border-l4 bg-l2 flex items-center justify-center px-4 py-3 gap-4"
    )
      a(
        href=href
        target=target
        rel=rel
        class="text-t1 text-paragraph-s hover:text-accent1-default transition-colors text-start sm-up:text-center w-full text-wrap leading-6 plain-link"
      )= text

mixin left-sidebar
  aside.sidebar(
    class="hidden xl-up:flex shrink-0 flex-col items-start justify-between w-70 sticky top-0 h-screen py-16 pr-8 pl-16"
    class!=attributes.class
  )
    a(class="relative flex h-10 w-38.5 plain-link" href="{routes.index}"): SVGIcon(name="logo" class="")
    nav
      ul.sidebar-nav(class="flex flex-col gap-8 w-full shrink-0")
        li.font-inherit
          Link(item="{{href: routes.about}}") About
        li.font-inherit
          Link(item="{{href: routes.portfolio}}") Portfolio
        li.font-inherit
          Link(item="{{href: routes.forStartups}}") For Startups
        li.font-inherit
          Link(item="{{href: routes.research}}") Research
        li.font-inherit
          Link(item="{{href: routes.jobs}}") Jobs

    div(class="h-15.5 relative")
      +if("postIt.show")
        +announcement-post-it("{postIt.href}", "{postIt.date}", "{postIt.location}", "{postIt.content}", "{postIt.target}", "{postIt.rel}")

mixin right-sidebar
  aside.sidebar(
    class="hidden xl-up:flex shrink-0 flex-col items-end justify-between w-70 sticky top-0 h-screen py-[58px] pl-8 pr-16"
    class!=attributes.class
  )
    button.w-fit.relative.my-1.underline.underline-offset-4.text-accent1-default.transition-colors(
      on:click!="{() => handleClick(undefined)}"
      class="bg-accent1-default/15 hover:bg-accent1-default/25 focus:bg-accent1-default/25 text-h3-l xs:text-h3-s font-satoshi"
    )
      | Talk to Us!
    +sidebar-social
    button.h-8.flex.items-center.gap-2(on:click!="{onThemeToggle}" class="group")
      SVGIcon(
        name="{themeIconName}"
        class="w-4.5 h-4.5 stroke-t3 transition-colors group-hover:stroke-accent1-default"
      )
      span(
        class="text-paragraph-l xs:text-paragraph-s text-t3 transition-colors group-hover:text-accent1-default"
      ) {themeIconName === 'moon' ? 'Dark Mode' : 'Light Mode'}

mixin header
  header(
    class="z-10 w-full block sticky top-0 transition-transform duration-300"
    class!="{headerVisible ? 'translate-y-0' : '-translate-y-full tb-up:translate-y-0'}"
    class!=attributes.class
  )&attributes(attributes)
    .header-wrapper(class="w-full whitespace-nowrap lg-up:justify-center ")
      div(class="border-b border-solid border-l4 bg-l1 py-0 ")
        div(
          class="tb-up:pl-4 flex items-center justify-between mx-auto sm-up:w-full xl-up:max-w-screen-xl-up h-[48px] tb-up:h-[64px]"
        )
          .logo-wrapper(class="relative w-8 h-8 hidden tb-up:block")
            a(class="relative flex h-6.5 tbDown:w-30 tbDown:h-8 plain-link" href="{routes.index}"): SVGIcon(
              name="only-logo"
              class="w-8 h-8 "
            )
          div(
            id="secondary-navbar"
            class!="relative z-[11] bg-l1 overflow-x-scroll scrollbar-hide w-full flex tb-up:pl-4 [mask-image:_linear-gradient(to_right,transparent_0,_black_24px,_black_calc(100%-24px),transparent_100%)]"
          )
            div(
              id="secondary-navbar-section h-full"
              class!="px-4 flex gap-x-8 items-center justify-between tb-up:mx-auto gap-4 w-max from-l1 to-transparent sm-up:w-full xl-up:max-w-screen-xl-up py-2 tb-up:py-4 animate-navigation-left-right md-up:animate-none"
            )
              +main-nav(class="gap-4 sm-up:gap-6")
              +social(class="hidden tb-up:flex")
          .flex.items-center.gap-2(class="md-up:gap-4 pr-4 pl-2 tb-up:pl-0")
            +button-icon-default(
              type="button"
              on:click!="{onThemeToggle}"
              class="h-8 w-8 tb-up:h-10 tb-up:w-10"
            )
              SVGIcon(name="{themeIconName}" class="w-5 stroke-current")
            +primary-button("Partner With Us")(
              class="sticky hidden tb-up:block"
              type="button"
              on:click!="{() => handleClick(undefined)}"
            )
    .mobile-second-header-wrapper(class="w-full whitespace-nowrap lg-up:justify-center tb-up:hidden")
      div(class="border-b border-solid border-l4 bg-l1 py-0")
        div(
          class="pl-4 flex items-center justify-between mx-auto sm-up:w-full xl-up:max-w-screen-xl-up h-[64px]"
        )
          .logo-wrapper(class="relative w-8 h-8 ")
            a(class="relative flex h-6.5 tbDown:w-30 tbDown:h-8 plain-link" href="{routes.index}"): SVGIcon(
              name="only-logo"
              class="w-6 h-6 tbDown:w-8 tbDown:h-8 "
            )

          div(
            id="right-content"
            class!="relative z-[11] bg-l1 overflow-x-scroll scrollbar-hide w-full flex pl-2 pr-1 [mask-image:_linear-gradient(to_right,transparent_0,_black_24px,_black_calc(100%-24px),transparent_100%)] [@media(min-width:420px)]:justify-end"
          )
            div(
              id="right-content-section h-full"
              class!="flex px-2 xs-up:px-3 sm-up:px-4 gap-x-8 items-center justify-end gap-4 w-max from-l1 to-transparent sm-up:w-full py-2 sm-up:py-4 animate-navigation-left-right md-up:animate-none"
            )
              +social
          .flex.items-center.gap-2.pr-4.pl-1(class="md-up:gap-4")
            +primary-button("Partner With Us")(
              class="sticky"
              type="button"
              on:click!="{() => handleClick(undefined)}"
            )
    +if("banner.show")
      +announcement-banner("{banner.href}", "{banner.text}", "{banner.target}", "{banner.rel}")
.app-container
  +header
  .flex(class="xl-up:w-full justify-center")
    +left-sidebar
    main(class="w-full xl-up:w-[calc(100%-560px)] 2xl-up:max-w-[1028px]")
      slot
      footer(class="mt-16 xs:mt-8 md:mt-8 flex flex-col items-center xl-up:max-w-[1028px]")
        .contact-form(
          class="w-full relative flex mt-3.75 sm:mt-2.25 tb:mt-3.75 xs:mt-10.5 md:mt-10.5 flex-col items-center border-t border-b border-solid border-l4 py-8 px-4 xs:py-4 md:py-4"
          id="contact-form"
        )
          form(
            class="max-w-[604px] w-full relative"
            method="POST"
            action="/"
            on:submit|preventDefault="{onContactFormSumbit}"
          )
            h4(class="mb-4") Contact Us
            p(class="xs:text-paragraph-s text-t2 mb-6") We'd love to hear from you on discussing potential projects, intriguing ideas, and new opportunities.
            .input-group(class="mb-4")
              textarea(
                rows="{5}"
                required
                maxlength="160"
                bind:value="{message}"
                class="relative w-full border border-solid border-l4 block min-h-32 h-32 bg-l1 shadow-input rounded-xl p-2.5 text-footnote text-t1 transition-all placeholder:text-footnote placeholder:opacity-100 placeholder:text-t3 hover:border-accent1-default autofill:fill-t1 autofill:hover:text-t3 dark:bg-l2"
                name="message"
                placeholder="How can we help you?"
              )
            .input-group(class="mb-6 xs:mb-4 gap-4 flex xs:flex-col")
              input(
                type="text"
                name="name"
                required
                maxlength="40"
                bind:value="{name}"
                class="relative w-1/2 xs:w-full border border-solid border-l4 bg-l1 shadow-input rounded-xl p-2.25 text-footnote text-t1 transition-all placeholder:text-footnote placeholder:opacity-100 placeholder:text-t3 hover:border-accent1-default autofill:fill-t1 autofill:hover:text-t3 dark:bg-l2"
                placeholder="Your name and company"
              )
              input(
                type="email"
                required
                pattern!="{regExp.email.toString().slice(1, -1)}"
                bind:value="{email}"
                name="email"
                on:blur="{displayError(email)}"
                class="relative w-1/2 xs:w-full border border-solid border-l4 bg-l1 shadow-input rounded-xl p-2.25 text-footnote text-t1 transition-all placeholder:text-footnote placeholder:opacity-100 placeholder:text-t3 hover:border-accent1-default autofill:fill-t1 autofill:hover:text-t3 dark:bg-l2"
                placeholder="Your email address"
              )
            p(
              class="text-rating-c text-footnote font-inter flex items-center mb-6 xs:mb-4 gap-2 py-2.5  {isError ? 'flex' : 'hidden'}"
            )
              Icon(icon="{ExclamationTriangle}" width="{17.26}" height="{15.62}" colorInherit)
              span() Invalid email address
            Button(
              label="Submit"
              class="mobile:!w-full"
              disabled="{message == '' || name == '' || email == '' || !validateEmail(email) ? true : false}"
              isSubmitBtn="true"
            )
            .feedback-toast(
              class="absolute z-1 -bottom-4 xs:-bottom-2 left-1/2 -translate-x-1/2 h-12 border border-solid rounded-xl bg-l2 border-l4 px-2.75 py-1.75 justify-center items-center gap-2 shadow-tag text-accent1-default {success ? 'flex' : 'hidden'}"
            )
              Icon(icon="{CheckCircle}" width="{24}" height="{24}" colorInherit)
              span.succ(class="text-t1 text-cta") Message sent!
            .feedback-toast(
              class="absolute z-1 -bottom-4 xs:-bottom-2 left-1/2 -translate-x-1/2 h-16 border border-solid rounded-xl bg-l2 border-l4 px-2.75 py-1.75 justify-center items-center gap-2 shadow-tag text-accent1-default {failed ? 'flex' : 'hidden'}"
            )
              Icon(icon="{XCircle}" width="{24}" height="{24}" class="text-red-500" colorInherit)
              span.fail(class="text-t1 text-cta") Failed to send email.
        .footer-nav(
          class="flex items-center justify-between xs:flex-col xs:items-start xs:py-6 xs:gap-6 sm:flex-col sm:items-start sm:py-6 sm:gap-6 md:flex-col md:items-start md:py-6 md:gap-6 py-4 px-4 max-w-[1240px] w-full"
        )
          .logo-wrapper(class="z-1 relative")
            a(class="relative flex w-25 h-6.5 tbDown:w-30 tbDown:h-8 plain-link" href="{routes.index}"): SVGIcon(
              name="logo"
              class="w-32"
            )
          ul(
            class="main-nav flex items-start flex-wrap gap-6 tbDown:relative tbDown:gap-4 tbDown:left-0 tbDown:transform-none md:relative md:gap-4 md:left-0 md:transform-none"
            role="navigation"
          )
            +link("https://drive.google.com/drive/folders/1WCNbcOVex2gTNBv8eUGI9KPwfqt0-7xo", "Media Kit")(
              target="_blank"
              rel="noreferrer"
            )
            +link("https://policies.holdex.io/#/terms", "Terms of Use")(
              target="_blank"
              rel="noreferrer"
            )
            +link("https://policies.holdex.io/#/privacy", "Privacy Policy")(
              target="_blank"
              rel="noreferrer"
            )
            +link("https://policies.holdex.io/#/disclaimer", "Disclaimer")(
              target="_blank"
              rel="noreferrer"
            )
          .social-icons(class="flex items-center justify-end gap-4 z-1 relative")
            +social-link("https://www.linkedin.com/company/holdexlimited/", "{@html socialIcons.linkedin}")
            +social-link("https://github.com/holdex", "{@html socialIcons.github}")
            +social-link("https://twitter.com/HoldexIo", "{@html socialIcons.twitter}")
            +social-link("https://discord.gg/sEuyYf5euF", "{@html socialIcons.discord}")
            +social-link("https://t.me/holdex", "{@html socialIcons.telegram}")
    +right-sidebar
  button(
    class="w-[56px] h-[56px] sm-up:hidden bg-accent1-default text-t4 rounded-xl flex justify-center items-center fixed bottom-3 right-[14px] z-10"
    on:click!="{() => handleClick(undefined)}"
  )
    Icon(icon="{ChatBubbleBottomCenter}" width="{32}" height="{32}" isOutlined)
