+if('totalCount > 0')
  .feed-articles.relative.block.w-full
    +each('edges as messageNode, index (messageNode.node.id)')
      +if("feedType === 'default'")
        DefaultFeedItem(
          class="{index === 0 ? '' : 'mt-7.25 xs:mt-4'}"
          message="{parseMessage(messageNode.node)}"
        )
        +elseif("feedType === 'portfolio'")
          PortfolioFeedItem(
            class="{index === 0 ? '' : 'mt-7.25 xs:mt-4'}"
            message="{parseMessage(messageNode.node)}"
          )
        +elseif("feedType === 'resource'")
          ResourceFeedItem(
            class="border-l4 py-7.25 border-b last:border-b-0"
            message="{parseMessage(messageNode.node)}"
          )

  +if('pageInfo && pageInfo.hasNextPage')
    .btn-wrapper.flex.justify-center.w-full(class="py-3.625 smDown:py-3.25")
      Button(
        label="Load more"
        class="mobile:!w-full"
        size="medium"
        disabled="{isRefetching}"
        onClick!="{() => loadMore(pageInfo.endCursor)}"
      )
  +else
    p.text-t3.w-full.text-center No articles found.
