mixin table-cell
  +if("typeof cellContents === 'object'")
    +each('cellContents as content')
      Item(item="{content}" isTableCell)
    +else
      Item(item="{cellContents}" isTableCell)

.relative.overflow-auto.w-full(id="table-scroll" use:scrollAction)
  table(class="h-full border-separate border-spacing-0 bg-l1 overflow-x-scroll scrollbar-hide")
    +each('cells as row, rowIndex')
      thead
        tr
          +each('row as cellContents, colIndex')
            +if('rowIndex === 0')
              +if('colIndex === 0')
                th(
                  class!="max-w-[200px] z-99 text-left left-0 sticky bg-l2 py-1.5 px-3 text-footnote font-bold border-solid border-l border-t border-l4 first:rounded-tl-xl"
                  scope="col"
                )
                  +table-cell
                +else
                  +if('colIndex === 1')
                    th(
                      class!="w-[200px] bg-l2 text-left py-1.5 px-3 text-footnote font-bold border-solid border-l border-t border-l4 first:rounded-tl-xl last:rounded-tr-xl border-r {isLeftEnd && w>550 ? '' : 'bg-gradient-to-r to-transparent from-s1'}"
                      scope="col"
                    )
                      +table-cell
                    +else
                      +if('colIndex === cells[0].length-1')
                        th(
                          class!="w-[200px] bg-l2 text-left py-1.5 px-3 text-footnote font-bold border-solid border-l border-t border-l4 first:rounded-tl-xl last:rounded-tr-xl border-r {!isRightEnd ? '' : 'bg-gradient-to-r from-transparent to-s1'}"
                          scope="col"
                        )
                          +table-cell
                        +else
                          th(
                            class!="w-[200px] bg-l2 text-left py-1.5 px-3 text-footnote font-bold border-solid border-l border-t border-l4 first:rounded-tl-xl last:rounded-tr-xl border-r"
                            scope="col"
                          )
                            +table-cell
      tbody
        tr
          +each('row as cellContents, colIndex')
            +if('rowIndex != 0')
              +if('colIndex === 0')
                td(
                  class!="max-w-[200px] z-99 bg-l1 left-0 sticky py-1.5 px-3 text-t2 text-footnote border-solid border-l border-t border-l4 last:border-r {rowIndex === cells.length - 1 ? 'first:rounded-bl-xl last:rounded-br-xl border-b last:border-r': ''}"
                )
                  +table-cell
                +else
                  td(
                    class!="max-w-[200px]bg-l1 py-1.5 px-3  text-footnote border-solid border-l border-t border-l4 last:border-r {rowIndex === cells.length - 1 ? 'first:rounded-bl-xl last:rounded-br-xl border-b': ''} {!isLeftEnd ? '' : colIndex === 1 && w<550 && 'bg-gradient-to-r to-transparent from-s1'}{!isRightEnd ? '' : colIndex === cells[0].length-1 && 'bg-gradient-to-r from-transparent to-s1'}"
                  )
                    +table-cell
